<md-card>
  <md-card-content>
    <div class="intro">
      <h2>{{ 'playlist.view.editPlaylist' | i18next }}</h2>
    </div>
    <form class="form-inline" name="playlistForm">
      <md-input-container class="md-block" flex>
        <label>{{ 'playlist.view.playlistName' | i18next }}</label>
        <md-icon md-svg-src="images/icons/playlist.svg"></md-icon>
        <input type="text" title="Playlist name" name="name" ng-model="vm.cache.currentPlaylist.name" ng-maxlength="{{vm.validate.MAX_LENGTH}}" autocomplete="off" required>
        <div ng-messages="playlistForm.name.$error" role="alert">
          <div ng-message="required">{{ 'playlist.view.playlistCantEmpty' | i18next }}</div>
          <div ng-message="maxlength">{{ 'playlist.view.playlistNameTooLong' | i18next }}</div>
        </div>
      </md-input-container>
      <div align="right">
        <md-button class="md-raised mybtn-success" ng-disabled="vm.isDisableApplyButton(vm.cache.playlistTemp)" ng-click="vm.mappingFunc.updatePlaylist()">{{ 'common.apply' | i18next }}</md-button>
        <md-button class="md-raised" ng-click="vm.showAndRefreshList()">{{ 'common.cancel' | i18next }}</md-button>
      </div>
    </form>
  </md-card-content>
</md-card>

<div layout="column" layout-gt-sm="row" class="three-column">
  <md-card flex-gt-sm="40" flex>
    <div class="playlist-name">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" class="input-search" placeholder="{{ 'common.search' | i18next }} {{ 'common.library' | i18next }}" ng-model="librarySong.name">
    </div>
    <md-list ng-cloak class="song-list">
      <md-list-item ng-repeat="song in vm.cache.librarySongs | filter:librarySong | orderBy:'name'" class="md-2-line" ng-click="vm.mappingFunc.addSong(song)">
        <img alt="{{ song.name }}" ng-src="images/song.png" class="md-avatar"/>
        <div class="md-list-item-text">
          <div class="header1">{{ song.name }}</div>
          <p class="header2">{{ song.artist }}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-card>


  <ul class="list-perform" flex flex-gt-sm="20">
    <li>
      <md-button class="md-raised" ng-click="vm.mappingFunc.addAllSongs()"><i style="font-weight: 600" class="fa fa-angle-double-right fa-lg fa-fw" aria-label="hidden"></i></md-button>
    </li>
    <li>
      <md-button class="md-raised" ng-click="vm.mappingFunc.removeAllSongs()"><i style="font-weight: 600" class="fa fa-angle-double-left fa-lg fa-fw" aria-label="hidden"></i></md-button>
    </li>
  </ul>

  <md-card flex-gt-sm="40" flex>
    <div class="playlist-name">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" class="input-search" placeholder="{{ 'common.search' | i18next }} {{ vm.cache.currentPlaylist.name }}" ng-model="currentSong.name">
    </div>
    <md-list ng-cloak class="song-list">
      <md-list-item ng-repeat="song in vm.cache.currentPlaylist.songs | filter:currentSong | orderBy:'name'" class="md-2-line" ng-click="vm.mappingFunc.removeSong(song)">
        <img alt="{{ song.name }}" ng-src="images/song.png" class="md-avatar"/>
        <div class="md-list-item-text">
          <div class="header1">{{ song.name }}</div>
          <p class="header2">{{ song.artist }}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-card>
</div>
