<md-card>
  <md-card-content class="action-bar">
    <h2 class="left">{{ 'common.managePlaylist' | i18next }}</h2>
    <div class="right">
      <md-button ng-hide="inputSearchFocus||vm.cache.query.name" class="md-raised mybtn-success miniable" ng-click="vm.mappingFunc.getAddPlaylistForm()">
        <i class="fa fa-plus"></i> {{ 'common.add' | i18next }}
      </md-button>
      <md-button ng-hide="inputSearchFocus||vm.cache.query.name" class="md-raised mybtn-del miniable" ng-disabled="vm.isDisableDeleteButton()" ng-click="vm.mappingFunc.deleteMultiPlaylists()">
        <i class="fa fa-trash"></i> {{ 'common.delete' | i18next }}
      </md-button>
      <div class="search-layout">
        <input type="search" title="{{ 'common.search' | i18next }}" class="search-field" ng-model="vm.cache.query.name" ng-click="inputSearchFocus=true" ng-class="{'search-field-focus':vm.cache.query.name||inputSearchFocus}" placeholder="reading, T.G.I.F, working,..." ng-blur="inputSearchFocus = false"/>
        <i class="fa fa-times x-icon" aria-hidden="true" ng-click="vm.cache.query.name='';inputSearchFocus=false" ng-class="{'show-x-icon':inputSearchFocus||vm.cache.query.name}"></i>
      </div>
    </div>
  </md-card-content>

  <div my-spinner="vm.spinner">
    <md-card-content layout="column" layout-gt-sm="row">
      <ov-table data="vm.playlists" config="vm.configPlaylist" output="vm.retrieveOVTable" mapping-func="vm.mappingFunc" flex="grow"></ov-table>
      <my-list data="vm.songsOfPlaylist" config="vm.configSong" ng-if="vm.showDetails" flex="{{vm.configSong.width || 50}}"></my-list>
    </md-card-content>
  </div>

</md-card>
